In [1]:
# Answer 1

In [4]:
""" In python we comment code using # character.There are three types of comments:
    1. single line comment :- use # character at the beginning
    2. inline comment :- use # character to add comment at the end of a line of code
    3. multiline comment :- use triple quotes at the beginning and end of the comment to store 
       multiple lines of commment."""

' In python we comment code using # character.There are three types of comments:\n    1. single line comment :- use # character at the beginning\n    2. inline comment :- use # character to add comment at the end of a line of code\n    3. multiline comment :- use triple quotes at the beginning and end of the comment to store \n       multiple lines of commment.'

In [29]:
# Answer 2

In [5]:
""" variables :- variables are used to store data value. we assign a value to variable.
    it must start with a letter or underscore(_).
    example :- name = "kanika"
    here "name" is a varible and assigns the value "kanika" to age variable"""

' variables :- variables are used to store data value. we assign a value to variable.\n    it must start with a letter or underscore(_).\n    example :- name = "kanika"\n    here "name" is a varible and assigns the value "kanika" to age variable'

In [6]:
# Answer 3

In [12]:
# There are inbuilt functions to convert one datatype to another.
# example:- int(), float(), bool(), str() etc.
a = 5.5
int(a)

5

In [8]:
b = 6 
float(b)

6.0

In [9]:
c = 1
bool(c)

True

In [30]:
# Answer 4

In [37]:
#     1. Open a text editor and create a new file.
#     2. Write your Python code in the text editor and save the file with a `.py` extension. For example,
#        `my_script.py`.
#     3. Open a command prompt or terminal.
#     4. Navigate to the directory where the Python script is saved using the `cd` command. For example,
#        if the script is saved in the `C:\Users\Username\Documents` folder, use `cd C:\Users\Username\Documents`.
#     5. Once you are in the correct directory, you can execute the Python script by typing `python` followed by 
#        the scripts file name. For example, `python my_script.py`.

In [38]:
# Answer 5

In [11]:
my_list = [1,2,3,4,5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

In [13]:
# Answer 6

In [39]:
"""complex numbers are represented using the complex data types.
A complex number is in the form (a+bj) where a is real number and b is imaginary number
and j represents the square root of a negative number."""
# example:-
d = 5+3j
type(d)

complex

In [40]:
# Answer 7

In [41]:
age = 25

In [42]:
# Answer 8

In [43]:
price = 9.99

In [44]:
type(price)

float

In [45]:
# Answer 9

In [46]:
# we will give value to variable in double quote("") to write as string.
Name = "jyoti chouhan"

In [47]:
type(Name)

str

In [48]:
# Answer 10

In [49]:
string = "hello world!"

In [50]:
substring = string[6:]
print(substring)

world!

In [51]:
# Answer 11

In [52]:
is_student = True
print(is_student)

True